:root {
    --primary: #7D9D9C;
    --secondary: #576F72;
    --background: #F0EBE3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    line-height: 1.6;
    background: var(--background);
    color: #1a1a1a;
}

header {
    background: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.nav-menu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.nav-menu a {
    color: var(--secondary);
    text-decoration: none;
    margin-left: 2rem;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: var(--primary);
}

.menu-button {
    display: none;
}

#projects a {
    text-decoration: none;
    color: black
}

@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        align-items: stretch;
    }

    .nav-menu a {
        margin: 1rem 0;
        text-align: center;
        padding: 0.5rem;
    }

    .nav-menu a:not(.menu-button) {
        display: none;
    }

    .nav-menu.active a:not(.menu-button) {
        display: block;
    }

    .menu-button {
        display: block;
        z-index: 10;
    }
}


.hero {
    padding: 6rem 2rem;
    text-align: center;
    background: white;
}

.hero h1 {
    font-size: 2.5rem;
    color: #1a1a1a;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.25rem;
    color: var(--secondary);
    max-width: 600px;
    margin: 0 auto;
}

.content {
    max-width: 1200px;
    margin: 4rem auto;
    padding: 0 2rem;
}

.section {
    margin-bottom: 13rem;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 5rem;
}

.skill-card {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    background: white;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
    cursor: pointer;
    border: 1px solid var(--primary);
}

.project-content {
    padding: 1.5rem;
}

.contact {
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
